<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="ISO-8859-1">
    <title>DNS Server</title>

</header>
<body>
    <!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Bootstrap
  </a>
</nav>
  

</body>





<!-- Bootstrap core JavaScript -->
<script th:src="@{/jquery/jquery-3.5.1.min.js}"></script>

<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.js}"></script>


<script th:src="@{/bootflat/js/jcheck.min.js}"></script>
<script th:src="@{/bootflat/js/jquery.fs.selecter.min.js}"></script>
<script th:src="@{/bootflat/js/jquery.fs.stepper.min.js}"></script>
<script th:src="@{bootstrap.min.js}"></script>

    <!-- Bootstrap core CSS -->
<link th:href="@{/bootflat/css/bootstrap.min.css}" rel="stylesheet" />
</html>