<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="ISO-8859-1">
    <title>DNS Server Panel</title>

</header>
<body>
      <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                
               
            </div>
        </div>

      

</body>

  <!-- Bootstrap core JavaScript -->
        <script th:src="@{/jquery/jquery-3.5.1.min.js}"></script>

        <script th:src="@{/bootstrap/js/bootstrap.bundle.js}"></script>
        <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
        <!-- Bootstrap core CSS -->
        <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

</html>